@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');


h1, a {
	color: #FFFFFF;
	font-family: "Lobster", cursive;
	font-weight: normal;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.page-header {
	background-color: #FF9400;
	margin-top: 0;
	padding: 20px 20px 20px 40px;

}

.content {
	margin-left: 40px;
}

.post {
	font-family: "Roboto";
	margin-bottom: 70px;
	padding:;
}

.post h2 a {
	color: #000000;
}

.pub-date {
	font-style: "Roboto";
	font-size: .75em;
}