@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');


h1, a {
	color: #FCA205;
	font-family: "Lobster";
	font-weight: normal;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.page-header {
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}

.post {
	font-family: Roboto;
	margin-bottom: 70px;
}

.post h2 a {
	color: #000000;
}

.post p.pub-date {
	font-size: .75em;
}