{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'soa.css' %}">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<title>Statement of Account</title>
	</head>
	<body>
		<div class="page-header">
			<h1>Statement of Account</h1>
			<ul>
				<li class="page-header"><a href="{% url 'post_list' %}">Back to Main Site</a></li>
				<li class="page-header"><a href="{% url 'soahome' %}">What is a Statement of Account?</a></li>
				<li class="page-header"><a href="{% url 'order_new' %}">Place an Order</a></li>
				<li class="page-header"><a href="{% url 'check_order' %}">Check Order Status</a></li>
				<li class="page-header"><a href="{% url 'delivery_queue' %}">Employee Order Queue</a></li>
				<li class="page-header"><a href ="{% url 'order_archive' %}">Order Archive</a></li>
			</ul>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
		<script src='static/main.js'></script>
	</body>
</html>