{% extends 'soa/base.html' %}

{% block content %}

	<h1>Statement of Account: Current Orders</h1>

	<p>Total Orders Remaining: {{ orders|length }}</p>

	{% for order in orders %}

		<div>

			<dl class='order-info'>
				<dt>Order ID: <b><a href="{% url 'order_detail' slug=order.slug %}">{{ order.order_id }}</a></b></dt>
				<dd>Property Address: <b>{{ order.address }}</b></dd>
				<dd>Order Date: {{ order.order_date }}</dd>
				<dd>Due Date: {{ order.due_date }}</dd>
				<dd>Email: {{ order.email }}</dd>
				<dd>Order ID: {{ order.order_id }}</dd>
				<dd>Order Type: {{ order.order_type }}</dd>
				<dd>Status? {{ order.completed }}</dd>
			</dl>
		</div>
	{% endfor %}

{% endblock %}